@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;600&family=Open+Sans:wght@300;400;500&family=Roboto+Condensed:wght@300;400;700&family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
:root {
  --backgroundcolor_blueRibbon: #70ccf6;
  --backgroundcolor_Footer: #222222;
  --box_SA: #c2c2c2;
  --height_blueRibbon: 4vh;
  --border_radius_blueRibbon: 10px;
  --border_color: 2px solid rgba($color: #b40e0e, $alpha: 1);
  --font_color_White: rgb(255, 255, 255);
  --font_color_Yellow: rgb(241, 245, 33);
}
$font_color_Black: #000000;
$font_adress_Color: #8c1010;
$font_familly_Articles: Montserrat, sans-serif;
$font_familly_Banner: "Source Sans Pro", sans-serif;
$fontsize_blueRibbon: 2vh;
$fontsize_Articles: 2.5vh;
$backgroundcolor_Body: rgb(255, 255, 255);
$redRibbon: #8c1010;
$fontsize_Contact: 5vh;
